
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@100;300&display=swap');

:root {
    --logo-font: 'Kaushan Script', cursive;
    --text-font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    min-height: 100vh;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
    background-color: transparent;
    color: black;
}

.navigation #logo {
    user-select: none;
    font-family: var(--logo-font);
}

.navigation nav {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation nav a {
    text-decoration: none;
    color: black;
    font-family: var(--text-font);
}